html, body {
    background: #0c011b;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}



body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 16em 1fr;
}
header {
    background: linear-gradient(to bottom, #7f0c8e55, #4a055355);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1em;
    height: 7em;
    grid-column: 1 / -1;
    position: relative;
    z-index: 1;
    border-bottom: 0.5rem solid #7f0c8e55;
}
header h1 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: left;
    font-size: 1.1em;
}
header img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

/* Play button alert (flicker) */
.alert {
    outline: 3px solid #FF000033;
    background: linear-gradient(to bottom, #8e0c0c55, #53050555) !important;
}